
main  {
    background-image: url("../img/carrocel001.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll, fixed;
    background-blend-mode: luminosity;
    height: 480px;
}
nav {
    text-align:left;
    width:150px;
    
    }

.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: rgb(96, 96, 73);
    height: 80px;
}

.caixa__link {
    margin: 0 0.5rem 0 0.5rem;   
}
.conteiner {
    display: flex;
    margin: 0 0.5rem 0 0.5rem;
}
.caixa {  
    display: flex;
    align-items: center;
}
.link {
    margin: 0 5.0rem 0 0.5rem;
    text-decoration: none;  
    color: rgb(3, 231, 30);
}
.caixa a:hover {
    color: #c78c19;
    text-decoration: underline; 
}

.caixa a:active {
    color: firebrick;
}

    
/* main input  {
    display: block;
    border-radius: 5px;
    border: 4px solid rgb(93, 159, 224);
    box-shadow: 4px 4px 0px rgb(8, 8, 8);
    font-size: 15px; 
      
} */

.rodape { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(43, 99, 68);
    height: 80px;

}