body {
    background-image: url("../img/5026563.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: rgb(96, 96, 73);
    height: 80px;
}

.caixa__link {
    margin: 0 0.5rem 0 0.5rem;   
}

.conteiner {
    display: flex;
    margin: 0 0.5rem 0 0.5rem;
}
.caixa {  
    display: flex;
    align-items: center;
}
.link {
    margin: 0 5.0rem 0 0.5rem;
    text-decoration: none;  
    color: rgb(3, 231, 30);
}
.caixa a:hover {
    color: #c78c19;
    text-decoration: underline; 
}

.caixa a:active {
    color: firebrick;
}

.paredes {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: auto;

    justify-content: space-evenly;
}

.parede-container {
    max-width: 500px;
    margin: 1rem;
}

.parede {
    width: 100%;
}

.inputs__label01 {
    display: flex;
    flex-direction: column;
}


.inputs__label {
    display: flex;
    flex-direction: column;
    
}

.inputs__input {
    width: 100%;
    margin-bottom: 0.5rem;
}

.campo {
    background-color: aquamarine;
     padding-left: 10px;
}

.botao:hover {
    background-color: rgb(85, 112, 104);
    color: whitesmoke;
}

.calculadora {
    font-size: 2rem;
    text-align: center;
}

.resultadofinal {
    display: flex;
    width: 100vw;
    justify-content:space-evenly;
    padding: 2rem;
}

.resultado-titulo-valor {
    width: 200px;

}

.rodape { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(43, 99, 68);
    height: 80px;

}